.container
{
    background-color: aqua;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.item
{
    background-color: rgb(216, 183, 248);
    height: 50px;
    width: 50px;
    border: 1px solid black;
}