p
{
    text-align: center;
    color: crimson;
}
#texto1
{
    color: blueviolet;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    font: 0;
}
#texto2
{
    font-size: 18px;
    color: rgb(17, 20, 12);
    font-family: 'Courgette', cursive;
}

.cuardro{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 100px;
    }

#cuadro1:hoover{
    background-color: coral;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 10px*1.5;
}

h1,h2 {
    font-size: 50px*1.5;
    font-family: 'Courgette', cursive;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 6em;
}

ul:first-child {
    color: orange;
}

li:first-child {
    color: orange;
}

#inpput1:focus
    {
        background-color: crimson;
    }

span {
    padding: 30px;
    margin:10px;
    display:block;
}

#dont {
    background-color: rgba(40, 199, 247, 90);
    font-size: 1.5em;
}

#doesnt 
    {
        background-color: #28C7F7 ;
        font-size: 2e;
    }

.contenedor {
    height: 400px;
    width: 600px;
    border: 8px dashed burlywood;
    background-image: url("./imagenes/oso\ panda.jpg");
    background-size:contain;
    background-position:center;
    border-radius: 40px;
    margin-left:34vw;

}

.contenedor1
{
    /* background-color: aquamarine; */
    /* background-image: radial-gradient(circle, rgba(176, 88, 184, 0.5),rgba(105, 206, 253, 0.5)),url("./imagenes/carrusel.jpg"); */
    background: radial-gradient(circle, rgba(201,52,241,0.5) 0%, rgba(243,108,210,0.5) 23%, rgba(212,177,255,0.5) 52%, rgba(120,237,254,0.5) 81%, rgba(70,252,219,0.5) 100%), url(./imagenes/carrusel.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contenedor2
{
    background-color: coral;
    height: 150px;
    width: 150px;
    animation: coralanimacion 4s;
    animation-iteration-count: infinite;
}

@keyframes coralanimacion
{
    0%
    {
        background-color: coral;
        transform: translate(5px) rotate(10deg) scale(0.5); 
    }

    50%
    {
        background-color: deepskyblue;
        transform: translateX(500px) rotate(90deg) scale(1); 
    }

    100%
    {
        background-color: rgb(107, 196, 107);
        transform: translate(20px) rotate(180deg) scale(0.5); 
    }
}

.contenedorgift
{
    background-image: url(./imagenes/robot.gif);
    background-size: cover;
    height: 100px;
    width: 100px;
    animation-name: robotcaminando;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes robotcaminando
{
    0% {transform: translate(0px) rotate(0deg) scale(0.5);}

    20% {transform: translateX(400px) rotate(0deg) scale(3);}

    50% {transform: translate(400px,600px) rotate(0deg) scale(0.5);}

    70%{transform: translate(0px,600px) rotate(0deg) scale(3);}

}

.caja1
{
    background-color: darkmagenta;
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px 20px 30px 40px;
    border: 2px groove;
    border-color: black;
    padding: 10px 20px 30px 40px;
    box-sizing: border-box;
}

.caja2
{
    background-color: darkorange;
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px 20px 30px 40px;
    border: 2px groove;
    border-color: black;
    padding: 10px 20px 30px 40px;
    box-sizing: content-box;
}

.circulo
{
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    border-radius: 10em;
    position: absolute;
}