img
{
    height: 60%;
    width: 80%;
    border-radius: 5PX;
    margin-left: 25%;
    
    
}

.caja
{
    
    height: 600px;
    border: 1px solid;
    float: left;
    margin: 0.5%;
    padding: 1em;
    width: 20%;
}

.texto
{
    margin-right: 6%;
    margin-left: 25%;
    text-align: justify;
}