*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{

    background-color: rgba(83, 217, 83, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*estilos para horarios de recoleccion de residuos */
.cuerpo
{
    overflow: hidden;
    float: left;
    
}

.titulo2
{
    text-align: center;
    letter-spacing: 8px;
    margin-top: 100px;
}

.caja
{
    float: left;
    width: 280px;
    margin-left: 220px;
    margin-top: 30px;
    
}

.subtitulo2
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 380px;
    width: 440px;
    margin-left: -200px;
    
  
}

.horario
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 4px;
    margin-top: 80px;
}

.imagen
{
    margin-top: 40px;
    margin-left: 150px;
}