*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgba(83, 217, 83, 0.117);
}

.container
{
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}

.superior
{
    background-color: rgba(7, 177, 7, 0.416);
    overflow: hidden;
}

.logo
{
    float: left;
    padding: 10px;
    margin-left: 50px;
    margin-top: 15px;

}


/*estilos para el menu de opciones*/
.menu
{
    float: right;
    padding: 90px;
}

.opciones li
{
    float: left;
    list-style: none;
}

.opciones li a
{
    color: black;
    padding: 25px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
}

.opciones li a:hover
{
    background-color: rgba(7, 161, 7, 0.467);
}


/*estilos para el cuerpo*/

.cuerpo
{
    overflow: hidden;
}

.titulo
{
    text-align: center;
    letter-spacing: 12px;
}

.caja
{
    float: left;
    width: 280px;
    margin-left: 100px;
    margin-top: 30px;
    
}

.subtitulo
{
    background-color: rgba(0, 128, 0, 0.319);
    border-radius: 8px;
    height: 330px;
    width: 300px;
  
}

.materiales
{
    color: white;
    text-align: center;
    padding: 15px 0;
}

.efecto
{
    margin-top: 20px;
    margin-left: 22px;
}
.efecto:hover
{
    opacity: 0.6;
    cursor: pointer;
}