*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgba(83, 217, 83, 0.06);
}

.container
{
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}

.superior
{
    background-color: rgba(18, 147, 18, 0.742);
    overflow: hidden;
}

.logo
{
    float: left;
    padding: 10px;
    margin-left: 50px;
    margin-top: 15px;

}


/*estilos para el menu*/
.menu
{
    float: left;
    margin-top: 130px;
    margin-left: 50px;
}

.opciones li
{
    float: left;
    list-style: none;
}

.opciones li a
{
    color: black;
    padding: 25px;
    text-decoration: none;
    border: 2px solid rgb(12, 83, 4);
    border-radius: 20px;
}

.opciones li a:hover
{
    background-color: rgba(9, 125, 9, 0.467);
}


/*estilos para el cuerpo clasificacion del reciclaje*/

/*.cuerpo
{
    overflow: hidden;
}*/

.titulo
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 30px;
}

.caja
{
    float: left;
    width: 280px;
    margin-left: 100px;
    margin-top: 30px;
    
}

.subtitulo
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 330px;
    width: 300px;
    margin-left: -35px;
  
}

/*.materiales
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
}

.efecto
{
    margin-top: 20px;
    margin-left: 22px;
}
.efecto:hover
{
    opacity: 0.5;
    cursor: pointer;
}*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    

}

.card
{
    float: left;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-left: 50px;
    
}

.card .face
{
    position: absolute;
    width: 112%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

}

.card .front
{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
    background-color: rgba(154, 214, 154, 0.319);
}

.card .front img
{
    
    margin-left: 20px;
}

.card .front h3
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgb(2, 151, 2);
    text-align: center;
}

.card .back
{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(3, 133, 3, 0.742);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.card .back h3
{
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p
{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 40px;  
}

.card:hover .front
{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back
{
    transform: perspective(600px) rotateY(360deg);
}







/*estilos para horarios de recoleccion de residuos */

.cuerpo
{
    overflow: hidden;
    float: left;
}

.titulo2
{
    text-align: center;
    letter-spacing: 8px;
    margin-top: 190px;
}



.subtitulo2
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 210px;
    width: 280px;
    margin-left: -25px;
  
}

.horario
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 4px;
    margin-top: -20px;
}

.imagen
{
    margin-top: 20px;
    margin-left: 70px;
}


/*estilos para Alarma*/

.cuerpo
{
    overflow: hidden;
    
}

.titulo3
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 80px;
    margin-left: 520px;
}

.alarma
{
    margin-left: 500px;
    margin-top: 20px;
    
}

/*.subtitulo3
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 240px;
    width: 280px;
    margin-left: -25px;
  
}

.alarma
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 3px;
    margin-top: 0px;
}

.imagen2
{
    margin-top: 30px;
    margin-left: 110px;
}

.imagen3
{
    margin-top: 5px;
    margin-left: 100px;
    
}

.imagen3:hover
{
    opacity: 0.5;
    cursor: pointer;
}*/

/*estilos para Puntos Cercanos*/

.cuerpo
{
    overflow: hidden;
}

.titulo4
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 190px;
    margin-left: 300px;
}


.subtitulo4
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 240px;
    width: 300px;
    margin-left: -25px;
  
}

.puntos
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 2px;
    margin-top: 0px;
}

.imagen4
{
    margin-top: 30px;
    margin-left: 110px;
}



.imagen4:hover
{
    opacity: 0.5;
    cursor: pointer;
}


