*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgba(83, 217, 83, 0.117);
}

.container
{
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}

.superior
{
    background-color: rgba(7, 177, 7, 0.416);
    overflow: hidden;
}

.logo
{
    float: left;
    padding: 10px;
    margin-left: 50px;
    margin-top: 15px;

}


/*estilos para el menu*/
.menu
{
    float: right;
    padding: 90px;
}

.opciones li
{
    float: left;
    list-style: none;
}

.opciones li a
{
    color: black;
    padding: 25px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
}

.opciones li a:hover
{
    background-color: rgba(7, 161, 7, 0.467);
}


/*estilos para el cuerpo clasificacion del reciclaje*/

.cuerpo
{
    overflow: hidden;
}

.titulo
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 30px;
}

.caja
{
    float: left;
    width: 280px;
    margin-left: 100px;
    margin-top: 30px;
    
}

.subtitulo
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 330px;
    width: 300px;
    margin-left: -35px;
  
}

.materiales
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
}

.efecto
{
    margin-top: 20px;
    margin-left: 22px;
}
.efecto:hover
{
    opacity: 0.5;
    cursor: pointer;
}


/*estilos para horarios de recoleccion de residuos */

.cuerpo
{
    overflow: hidden;
}

.titulo2
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 150px;
}



.subtitulo2
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 210px;
    width: 280px;
    margin-left: -25px;
  
}

.horario
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 4px;
    margin-top: -20px;
}

.imagen
{
    margin-top: 20px;
    margin-left: 70px;
}


/*estilos para Alarma*/

.cuerpo
{
    overflow: hidden;
}

.titulo3
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 150px;
}


.subtitulo3
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 240px;
    width: 280px;
    margin-left: -25px;
  
}

.alarma
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 3px;
    margin-top: 0px;
}

.imagen2
{
    margin-top: 30px;
    margin-left: 110px;
}

.imagen3
{
    margin-top: 5px;
    margin-left: 100px;
    
}

.imagen3:hover
{
    opacity: 0.5;
    cursor: pointer;
}

/*estilos para Puntos Cercanos*/

.cuerpo
{
    overflow: hidden;
}

.titulo4
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 150px;
}


.subtitulo4
{
    background-color: rgba(154, 214, 154, 0.319);
    border-radius: 8px;
    height: 240px;
    width: 280px;
    margin-left: -25px;
  
}

.puntos
{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 2px;
    margin-top: 0px;
}

.imagen4
{
    margin-top: 30px;
    margin-left: 110px;
}



.imagen4:hover
{
    opacity: 0.5;
    cursor: pointer;
}


